body {
    margin-left: -15px;
    margin-right: -15px;
}

.jumbotron {
    margin-bottom: -10px;
    margin-top: -20px;
}

.register {
    background-color: #f7f7f7;
}

.polling {
    background-color: #efefef;
}

.election {
    background-color: #f7f7f7;
}