{% extends '::layout.main.html.twig' %}

{% block content %}
<html>
    <head>
        <link href="@VoteBundle\Resources\public\css\index.css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Voting Made Simple</h1>
                <p>Stay informed about the issues that matter to you the most</p>
            </div>
        </div>

        <div class="register">
            <div class="container">
                <h1>Register to Vote</h1>
                <p>Login with facebook to use our one click registration process, or manually enter information </p> <br>
                <button>Register with Facebook</button> <br> <br>
                <form> Registration Form <br> 
                    First name:
                    <input type="text" name="firstname">
                    <br>
                    Last name:
                    <input type="text" name="lastname">
                    <br>
                    Date of Birth: 
                    <input type="text" name="DOB">
                    <br>
                    TX Drivers License #: 
                    <input type="text" name="ID">
                    <br>
                    County: 
                    <input type="text" name="county">
                    <br>
                    Address: 
                    <input type="text" name="address">
                    <br>
                    City: 
                    <input type="text" name="city">
                    <br>
                    State: 
                    <input type=text" name="state">
                    <br>
                    Zip: 
                    <input type="text" name="zip">
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="polling">
            <div class="container">
                <h1>Polling Locations</h1>
                <p>Find out the exactly where to vote on election day or during the early voting period</p>
                <br>
                <form>
                    Address: 
                    <input type="text" name="polling-locations">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="election">
            <div class="container">
                <h1>Election Center </h1>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Candidates</h3>
                        <p>Learn about who you will be electing and get to know their policies</p>
                        <p><a href="#">Learn about candidates</a></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Important Dates</h3>
                        <p>Stay reminded of important election dates such as early voting, election day, and registration periods</p>
                        <p><a href="#">Remember important dates</a></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Bills</h3>
                        <p>See what legislation is getting proposed and track the lifecycle of bills</p>
                        <p><a href="#">View bills</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}