{% extends '::layout.main.html.twig' %}
{% form_theme registerForm 'Zip2VoteVoteBundle:Form:theme.register.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Lookup Polling Locations and Voter Registration Status</div>
            <div class="panel-body">
                {{ form(registerForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}